.div-buttons{
        width: 70%;
        padding-left: 5vw;
        display: flex;
    }
    .div-buttons .buttons{
        color: white;
        border: 2px;
        margin-left: 3vw;
        text-decoration: none
    }
    .div-buttons .buttons:hover{
        background-color: rgba(255, 255, 255, 0.329);
        
    }

    .div-widget{
        width: 12%;
        display: flex;
        justify-content: flex-end;
    }
